.sections {
  display: flex;
  justify-content: space-between;
}



a {
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  font-family: $sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  text-decoration: underline;
}
